<!DOCTYPE html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="css/inicio_style.css">
    <title>INICIO</title>
  </head>
  <body>
    <div id = 'menu' style='height:100%; weight:20%; float:left'>
      <dropdown>
        <input id="toggle1" type="checkbox" checked>
        <label for="toggle1" class="animate">OXXO<i class="fa fa-list float-right"></i></label>
        <ul class="animate">
          <a href='/'><li class="animate">Principio <i class="fa fa-code float-right"></i></li></a>
          <a href='/recarga'><li class="animate">Recargas<i class="fa fa-arrows-alt float-right"></i></li></a>
          <a href='/logout'><li class="animate">Salir<i class="fa fa-cog float-right"></i></li></a>
        </ul>
      </dropdown>
    </div>
    <div id = 'image' stlye = 'height:100%; weight:70%; float:left;'>
      <img src="/img/portada.jpg" alt="" />
    </div>
  </body>
</html>
